

body {
    height: 4000px;
    background-color:gainsboro;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0px;
    padding: 0;
    font-size: 12px;
  }
  html{
    overflow-y: scroll;
    scrollbar-color: white dimgray;

}
#homebtn{
    position: fixed;
    margin-top: 4%;
    margin-left: 3%;
    color:white;
    font-size: 50px;
    text-shadow: 0px 0px 9px black;
    z-index: 100;


}

h1{

    background: black;
    color: #fff;
    text-align: center;
    padding: 20px;

    
  }


  img{
    width:30vw;
    height:40vh;
  }
.container1{
  margin-top: 2em;
  margin-left: 10vw;

  display: flex;
  flex-wrap: wrap;
  gap: 10em;
}
.card1{
border: 2px solid transparent;
  background-color: whitesmoke;
  border-radius: 2em;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: all 2s ease-out;
  transform: rotateY(60deg);
  width:fit-content;
  gap: 1em;
}
.card1show{
  border: 2px solid transparent;
  background-color: whitesmoke;
  border-radius: 2em;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transform: rotateY(0deg);
  width:fit-content;
  gap: 1em;
}



/* second section */
#section2{
  background:linear-gradient(90deg, black 20%,white 100%);
}
.part1{
  position: sticky;
  top:10em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50vw;

}
.navtab{
  font-weight: 900;
  width:fit-content;
  &:hover{
    box-shadow: 2px 2px 10px white;
  }

}
.part1 a{
  font-size: 20px;
  color:white;
  text-decoration: none;
}

.part2{
  margin-top: 2em;
  margin-left: 10vw;
  display: flex;
  flex-wrap: wrap;
  gap: 10em;
  justify-content: flex-end;
}
.card{
  border: 2px solid black;
  background-color: white;
  border-radius: 2em;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transform: rotateY(00deg);
  width:50vw;
  gap: 1em;
}
.card2hidden{
  transform:translateY(-100%);
  opacity: 0;
  transition: all 1s linear;
}
.card2show{
  transform:translateY(0);
  opacity: 1;
}

  @media (max-width:600px) {
    img{
      width:50vw;
      height:20vh;
    }
    .container1{
      margin-left: 0px;
    }
    .card2hidden{
      transition: none;
    }
    #homebtn{
      margin-top: 10%;
    }



    /* other */
    .part1{
      position: relative;
      top:0px;
      width: 100vw;
      z-index: 2;
      background-color: black;
      text-align: center;
    }
    .navtab{
      font-weight: 100;
      width:100vw;  
    }
    .part1 a{
      font-size: 10px;
    }
    
    .part2{

      margin-left: 0px;
      gap: 10em;
      justify-content: center;
      z-index: -1;
    }
    .card{
      width:90vw;
      gap: 1em;
    }   
  }