
#front-container{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap:2em;
    margin-right: 1em;

}
#front-text{
    padding-left: 2em;
    align-self:center;
}
#front-img{
    height:70vh;
    width:50vw;

}
/* animation adding  */
.hidden{
    filter:blur(2em);
    transform: translateX(-100%);
    opacity:0;
    transition: all 1s ease-in-out;

}

.hidden2{
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;

}

.show{
    filter:blur(0);
    transform: translate(0);
    opacity: 1;
}

