html{

        /* width: 300px;
        height: 100px; */
        overflow-y: scroll;
        scrollbar-color: black lavender;

}
body{
    background: linear-gradient(cornsilk 60%, white 100%);
    background-color: cornsilk;
    /* background-color:rgb(243, 255, 247) ; */
    /* background-color:rgb(227, 254, 237) ; */
    /* background-color: rgb(211, 255, 228); */
    color:dimgray;
    transition:all 2s 0s linear;
    font-size: 40px;
    margin: 10%;
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;

}


.sidebar-menu{
    border:2px solid black;

    opacity: 0.8;
    z-index: 1000;
    position: fixed;
    /* top:86vh;
    left:43.5vw; */
    top: 40%;
    left: 500%;
    border-radius: 20px;
    border: 1px solid black;
    width: 10em;
    height:10em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding:2em;
    box-shadow: 5px 5px 20px black;
    background-color: cornsilk;
    border-radius: 50%;
    padding-top: 0;

}
.navbox li{

    padding-bottom:0.5em;
    list-style: none;
    opacity: 1;
    color:black;
    font-size: 21px;
    flex-shrink: 1;

    /* &:hover{
        box-shadow: 0px 0px 10px black;
        color:white;
        background-color: black;
    } */
    &:hover{
        opacity: 1;
        border-radius: 20px;
        box-shadow: 0px 0px 10px lavender;

        background-color: lavender;
    }
}
.navbox a{
    padding-left:0.5em;
    color:black;
    &:hover{
        color:white
    }

}
.navbox #check{
    display:none;
}
.navbox .btn-two{
    position: relative;
    left:-0.5em;
    top:-0.5em;
    color:white;

}
#check:checked ~.sidebar-menu{
    left:70%;
}

.navbox #close{
    font-size: 20px;
    padding: 0.4em;
    background-color: rgba(0, 0, 0, 0.548);
    border-radius: 50%;

}
#header{
    background-color: white;
    /* background: linear-gradient(cornsilk 20%, white 100%); */
    left: 0px;
    top:0;
    width: 98vw;
    height:11vh;
    position: absolute;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.headContent{

    font-size: 12px;
    border:1px solid white;
    border-radius: 7.5em;
    background-color: black;
    padding: 10px;
    color: white;
    box-shadow: 0px 0px 8px black;
}

#mainheading{
    padding: 3%;
    position: relative;
    justify-items: center;
    text-align: center;
    background: linear-gradient(cornsilk 10%, white 100%);
    border-radius: 0;
    border-top: 2px solid white;

}
#mainheading h1{
    background-color: white;
}
#mainheading img{
    height:5em;
    width: 5em;
}
#about{
    margin:4% 6% 0% 6%;
    color:grey;
    border:5px solid white;
    padding: 8%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;

}
#about-text h3 {

    border:5px solid white;

    font-size: 14px;
    color:black;
    text-align: justify;
    padding: 5%;
}
#about-text h1 {
    font-size: 17px;
    font-weight: 800;
    background-color: white;
    text-align: center;
    animation: an1 2s linear infinite;
    animation-direction: alternate-reverse;

}

#imageHolder{
    justify-content: space-around;
    padding-right: 10px;
    z-index: 2;
    img{
        height:10em;
        width:7em;
    }  
}

#navIcon{
    padding: 1%;
    background-color: black;
    position: fixed;
    color:white;
    font-size: 30px;
    top:80%;
    left:90%;
    box-shadow: 10px 10px lavender;
}



/* actions */

#actions{

    width: 50vw;
    height:25vh;
    position: relative;
    margin-top:2em;
    margin-left: 4.5em;
    background-color: white;
    border:2px solid rgb(253, 240, 191);
    box-shadow:2px 2px 10px rgb(255, 243, 196);
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    gap:2em;
}
#actions h2{

    color:darkgray;
    font-size: 30px;
    font-weight: 900;

}

.actionblock button{
    padding: 1.5em;
    flex-shrink: 2;
    font-size: 15px;
    border-color: transparent;
    background-color: crimson;
    color:white;
    border-radius: 1.5em;
    transition: all 0.5s ease-in-out;
    &:hover{
        background-color: white;
        color:crimson;
        box-shadow: 2px 2px 5px black;
    }

}

#main-msg{
    margin-top:2em;

    border:2px solid black;
    border-left-color:transparent ;
    border-right-color:transparent ;
    transition:all 1s ease-in-out;
    &:hover{
        border:2px solid black;
        background-color: white;
    }
}

#container-msg{
    padding-top: 3em;
    font-size: 17px;
    left:10em;
    width: 50vw;
    height:50vh;
    border-radius: 2em;

    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-items: space-between;
    text-align: center;
    overflow: hidden;


}
#name{
    font-size: 15px;
    margin-left:12em;
    font-weight: 900;
}
#faceimg{
    padding-right: 2em;
    justify-self: center;
    position: relative;
    width: 40vw;
    height:40vh;
    display: block;
}
.faceTransition{
    transition: all 2s ease-in-out;
    /* &:hover{
        transform: scale(1.2);
        transform-origin: 50% 50%;
    } */

    transform: scale(1.2);
    transform-origin: 50% 50%;
}
 /* .faceTransition{
    animation:faceAn 2s ease-in-out;
    animation-iteration-count: 2;
    animation-direction:alternate-reverse;

}
 @keyframes faceAn{
    from{
        transform: scale(1.2);
        transform-origin: 50% 50%;
    }
 } */
#progressbars{
    padding: 1em;
    margin-top: 2em;
    box-shadow: 2px 2px 10px black;
}
.progress{
    border: 1.5px solid black;
    margin: 2em;
    background-color:gainsboro;
}
.progress-bar{
    border-right:6px solid white ;
    background-color: darkred;
    color:white;

}
#progressbars h1,#expertise h1{
    background-color: white;
    text-align: center;
}
#expertise{
    margin-top:2em;
    
}
.carousel-inner{
    justify-self: center;
    height: 60vh;
    width:50vw;
    h5{
        background-color: black;
    }
}
.carousel-control-prev,.carousel-control-next{
    width: 2em;
    height:2em;
    border-radius: 2em;
    background-color: black;
    align-self: center;
}

#expertise img{
    width:30vw;
    height:60vh;
}
#footer{
    font-size: 15px;
              background-color: grey;
              color: white;margin-top: 5em;padding:3em;
    li{
        list-style: none;
        
    }
    i{
        padding-right: 2em;
    }
}

#disclaimer{
    /* margin-top: 10%;
    margin-left: 20%; */

    justify-content: center;
    align-items: center;
    width:60vw;

    text-align: center;
    background-color:rgba(255, 248, 220);
    border: 2px solid white;
    border-radius: 1.5em;

    h1{
        background-color: white;
    }

}
@media (max-width:480px) {
    #navIcon{
        top:90%;
        left:80%;
        z-index: 1000;

    }
    #disclaimer{
        width:98vw;
        margin-top: 1em;
        height: 90vh;
        font-size: 12px;
    }

    #imageHolder  img{

        height:8em;
        width:6.5em;
        padding-bottom:0.5em;
    }
    #about{
        margin:2% 0% 0% 0%;
        padding: 2%;
        flex-wrap: wrap-reverse;

    }
    #container-msg{
        padding-top: 0px;

        font-size: 17px;
        left:1em;
        width: 70vw;
        height:90vh;
        flex-wrap: wrap;
        gap:3em;
    
    
    }
    #faceimg{
        left:2em;
        width: 60vw;
        height:40vh;
    }
    
.carousel-inner{
    height: 50vh;
    width:80vw;

}

.carousel-control-prev,.carousel-control-next{
    opacity: 1;
    width: 2em;
    height:2em;
    border-radius: 2em;
    background-color: black;
    align-self: center;
}

#expertise img{
    width:40vw;
    height:50vh;
}

#actions{

    width: 60vw;
    height:55vh;
    margin-top:1em;
    margin-left: 1em;
    flex-wrap: wrap;
    flex-direction: column;
    gap:0em;
}
.progress-bar{
    font-size: 5px;
}

.actionblock button{
    padding: 1em;
}

.sidebar-menu{
    top: 50%;  
    width: 7.5em;
    height:7.5em;
    padding: 1.5em;
}
#check:checked ~.sidebar-menu{
    left:10%;
}

}


@media (min-width:480px) and (max-width:550px) {
    
    #navIcon{
        top:90%;
        left:90%;
        z-index: 1000;

    }
    #disclaimer{
        width:98vw;
        margin-top: 1em;
        height: 90vh;
        font-size: 10px;
    }

    #imageHolder  img{

        height:42vh;
        width:58vw;
        padding-bottom:0.5em;
        align-self: center;
        padding-left: 2.8em;

    }
    #about{
        margin:2% 0% 0% 0%;
        padding: 2%;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }
    #container-msg{
        padding-top: 0px;
        font-size: 15px;
        left:1em;
        width: 78vw;
        height:38vh;
        flex-wrap: nowrap; 
        gap:0.5em;
    }
    #faceimg{

        width: 40vw;
        height:30vh;
    }
    
.carousel-inner{
    height: 60vh;
    width:80vw;

}

.carousel-control-prev,.carousel-control-next{
    opacity: 1;
    width: 2em;
    height:2em;
    border-radius: 2em;
    background-color: black;
    align-self: center;
}

#expertise img{
    width:50vw;
    height:60vh;
}

#actions{

    width:80vw;
    height:25vh;
    margin-top:1em;
    margin-left: 0em;
    flex-wrap:nowrap;
    gap:1em;
    padding: 1em;
}
.progress-bar{
    font-size: 10px;
}

.actionblock button{
    font-size: 15px;
    padding: 0.5em;
}
        
.sidebar-menu{
    top: 48%;
    left: 500%; 
    width:9em;
    height: 9em;
    padding: 2em; 
}
#check:checked ~.sidebar-menu{
    left:30%;
}
}
@media (min-width:550px) and (max-width:780px) {
    
    #navIcon{
        top:90%;
        left:90%;
        z-index: 1000;

    }
    #disclaimer{
        width:98vw;
        margin-top: 1em;
        height: 90vh;
        font-size: 12px;
    }

    #imageHolder  img{

        height:50vh;
        width:31vw;
        padding-bottom:0.5em;

    }
    #about{
        margin:2% 0% 0% 0%;
        padding: 2%;
        flex-wrap: nowrap;
    }
    #container-msg{
        padding-top: 0px;
        font-size: 17px;
        left:2em;
        width: 70vw;
        height:32vh;
        flex-wrap: nowrap; 

        gap:0.5em;
    }
    #faceimg{

        width: 40vw;
        height:30vh;
    }
    
.carousel-inner{
    height: 60vh;
    width:80vw;

}

.carousel-control-prev,.carousel-control-next{
    opacity: 1;
    width: 2em;
    height:2em;
    border-radius: 2em;
    background-color: black;
    align-self: center;
}

#expertise img{
    width:50vw;
    height:60vh;
}

#actions{

    width:70vw;
    height:25vh;
    margin-top:1em;
    margin-left: 1em;
    flex-wrap:nowrap;
    gap:1em;
}
.progress-bar{
    font-size: 10px;
}

.actionblock button{
    font-size: 15px;
    padding: 1em;
}
        
.sidebar-menu{
    top: 55%;
    left: 500%; 
    width:9em;
    height: 9em;
    padding: 2em; 
}
#check:checked ~.sidebar-menu{
    left:40%;
}
    
}

@media (min-width:780px) and (max-width:850px) {
    
    
    #navIcon{
        top:92%;
        left:90%;
        z-index: 1000;

    }
    #disclaimer{
        width:98vw;
        margin-top: 1em;
        height: 90vh;
        font-size: 15px;
    }

    #imageHolder  img{

        height:45vh;
        width:28vw;
        padding-bottom:0.5em;

    }
    #about{
        font-size: 20px;
        margin:2% 0% 0% 0%;
        padding: 2%;
        flex-wrap: nowrap;
    }
    #container-msg{
        padding-top: 2em;
        font-size: 20px;
        left:2em;
        width: 70vw;
        height:30vh;
        flex-wrap: nowrap; 

        gap:0.5em;
    }
    #faceimg{

        width: 30vw;
        height:20vh;
    }
    
.carousel-inner{
    height: 60vh;
    width:80vw;

}

.carousel-control-prev,.carousel-control-next{
    opacity: 1;
    width: 2em;
    height:2em;
    border-radius: 2em;
    background-color: black;
    align-self: center;
}

#expertise img{
    width:50vw;
    height:60vh;
}

#actions{

    width:65vw;
    height:15vh;
    margin-top:1em;
    margin-left: 2em;
    flex-wrap:nowrap;
    gap:1em;
}
.progress-bar{
    font-size: 10px;
}

.actionblock button{
    font-size: 15px;
    padding: 1em;
}
    
.sidebar-menu{
    top: 65%;
    left: 500%;  
}
#check:checked ~.sidebar-menu{
    left:40%;
}

}


@media (min-width:850px) and (max-width:1240px) {
    
    
        #navIcon{
            top:92%;
            left:90%;
            z-index: 1000;
    
        }
        #disclaimer{
            width:98vw;
            margin-top: 1em;
            height: 60vh;
            font-size: 17px;
        }
    
        #imageHolder  img{
    
            height:30vh;
            width:21vw;
            padding-bottom:0.5em;
    
        }
        #about{
            font-size: 20px;
            margin:2% 0% 0% 0%;
            padding: 2%;
            flex-wrap: nowrap;
        }
        #container-msg{
            padding-top: 2em;
            font-size: 20px;
            left:2em;
            width: 60vw;
            height:25vh;
            flex-wrap: nowrap; 
    
            gap:0.5em;
        }
        #faceimg{
    
            width: 30vw;
            height:20vh;
        }
        
    .carousel-inner{
        height: 60vh;
        width:80vw;
    
    }
    
    .carousel-control-prev,.carousel-control-next{
        opacity: 1;
        width: 2em;
        height:2em;
        border-radius: 2em;
        background-color: black;
        align-self: center;
    }
    
    #expertise img{
        width:50vw;
        height:60vh;
    }
    
    #actions{
    
        width:65vw;
        height:15vh;
        margin-top:1em;
        margin-left: 2em;
        flex-wrap:nowrap;
        gap:1em;
    }
    .progress-bar{
        font-size: 10px;
    }
    
    .actionblock button{
        font-size: 15px;
        padding: 1em;
    }
        
    .sidebar-menu{
        top: 65%;
        left: 500%;  
    }
    #check:checked ~.sidebar-menu{
        left:40%;
    }

}
@media (min-width:850px) and (max-width:1240px) and (max-height:900px) {
    
    
    #navIcon{
        top:85%;
        left:90%;
        z-index: 1000;

    }
    #disclaimer{
        width:98vw;
        margin-top: 1em;
        height: 80vh;
        font-size: 12px;
    }

    #imageHolder  img{

        height:70vh;
        width:31vw;
        padding-bottom:0.5em;

    }
    #about{
        font-size: 20px;
        margin:2% 0% 0% 0%;
        padding: 2%;
        flex-wrap: nowrap;
    }
    #container-msg{
        padding-top: 2em;
        font-size: 17px;
        left:2em;
        width: 60vw;
        height:40vh;
        flex-wrap: nowrap; 
        gap:1em;
    }
    #faceimg{

        width: 40vw;
        height:30vh;
    }
    
.carousel-inner{
    height: 70vh;
    width:60vw;

}

.carousel-control-prev,.carousel-control-next{
    opacity: 1;
    width: 2em;
    height:2em;
    border-radius: 2em;
    background-color: black;
    align-self: center;
}

#expertise img{
    width:50vw;
    height:70vh;
}

#actions{

    width:65vw;
    height:30vh;
    margin-top:1em;
    margin-left: 2em;
    flex-wrap:nowrap;
    gap:1em;
}
.progress-bar{
    font-size: 10px;
}

.actionblock button{
    font-size: 15px;
    padding: 1em;
}
    
.sidebar-menu{
    top: 20%;
    left: 500%;  
}
#check:checked ~.sidebar-menu{
    left:45%;
}

}