#header-container{
    position: fixed;
    top:0px;
    margin-top: 0px;
    display:flex;
    flex-wrap:nowrap;
    gap:2em;
    font-size: 1em;
    color:white;
    width: 99vw;
    height: 10vh;
    justify-content: end;
    padding: 0.5em;
    padding-top: 1em;
    background-color: rgba(0, 0, 0);
    z-index: 1111;

}

.bar{
    visibility: hidden;
}
.xmark{
    visibility: hidden;
}
#logo{
    margin-right: auto;
    background-color: black;

}
#home{
    border:1px solid peru;
}
#header-container a{
    color:white;
    text-decoration-line: none;
}
#header-container i{
    font-size: larger;
    padding-right: 0.5em;
}
.headerbtn {
    height:5vh ;
transition: all 0.5s 0s ease-in-out;
    &:hover{
        background-color: peru;
        border-radius: 0.5em;
        padding: 0.3em;
    
    }
}
#front-container{
    position: relative;
    margin-top: 8em;
    display: flex;
    flex-wrap: nowrap;
    gap:2em;

}
#front-text{
    padding-left: 2em;
    align-self:center;
}
#front-img{
    height:70vh;
    width:50vw;
}
#downarrow{
    position: relative;
    color:white;
    font-size: 50px;
}



/* animation adding  */
.hidden{
    filter:blur(2em);
    transform: translateX(-100%);
    opacity:0;
    transition: all 2s ease-in-out;

}

.hidden2{
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1s ease-in-out;

}

.show{
    filter:blur(0);
    transform: translate(0);
    opacity: 1;
}

